:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--primary-white-color: #ffffff;
	--blue-color: #2196f3;
	--info-footer-color: rgba(255, 255, 255, 0.6);
	--background-footer: #2f303a;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

img {
	display: block;
}

.header {
	padding-top: 24px;
	padding-bottom: 25px;
}

.page-header {
	display: flex;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;

	/*outline: 1px solid #2196f3;*/
}

.container.padding {
	padding-top: 94px;
	padding-bottom: 94px;
}
/*Logo*/

.logo {
	color: var(--title-text-color);

	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;

	text-decoration: none;
}

/*.logo:hover {
  color: var(--accent-color);
}*/
.logo-header {
	margin-right: 93px;
}

.logo-part {
	color: var(--blue-color);
}

/*Site nav*/

.nav-site {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	display: flex;
	align-items: center;
}

.nav-site-item:not(:last-child) {
	margin-right: 50px;
}
.nav-link {
	color: var(--title-text-color);

	text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}

.nav-site .nav-link.current {
	color: var(--accent-color);
}

.nav-cont {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
}

.cont {
	display: flex;
}

.cont-item:not(:last-child) {
	margin-right: 50px;
}
.cont-info {
	color: var(--primary-text-color);

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	text-decoration: none;
}

.cont-info:not(:last-child) {
	margin-right: 50px;
}

.cont-info:hover,
.cont-info:focus {
	color: var(--accent-color);
}

/*Footer*/

.footer {
	background-color: var(--background-footer);
	height: 252px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 60px;
}

.page-footer {
	display: flex;
	flex-direction: column;

	margin-bottom: 60px;
}

/*.logo-footer {
	margin-top: 60px;
}*/

.logo-second-part {
	color: var(--primary-white-color);

	font-family: Raleway;
	font-weight: 700;
	line-height: 1.2;

	margin-top: 0;
	margin-bottom: 20px;
}

.address {
	color: var(--primary-white-color);

	font-style: normal;
	font-weight: 400;
	line-height: 1.7;

	text-decoration: none;
}

.footer-list {
	display: flex;
	flex-direction: column;
}

.footer-list-item:not(:last-child) {
	margin-bottom: 9px;
}

.info-footer {
	color: var(--info-footer-color);

	font-style: normal;
	font-weight: 400;
	line-height: 1.7;

	text-decoration: none;
}
