:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--primary-white-color: #ffffff;
	--blue-color: #2196f3;
	--info-footer-color: rgba(255, 255, 255, 0.6);
	--background-footer: #2f303a;
	--border-color: #eeeeee;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

img {
	display: block;
}

.header {
	padding-top: 24px;
	padding-bottom: 25px;
	border-bottom: 1px solid var(--border-color);
}

.page-header {
	display: flex;
}

.container {
	margin: 0 auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;

	/*outline: 1px solid #2196f3;*/
}

.container.padding {
	padding-top: 94px;
	padding-bottom: 94px;
}

/*============Logo============*/

.logo {
	color: var(--title-text-color);

	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;

	text-decoration: none;
}

.logo-header {
	margin-right: 93px;
}

.logo-part {
	color: var(--blue-color);
}

/*============Site nav============*/

.nav-site {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	display: flex;
	align-items: center;
}

.nav-site-item:not(:last-child) {
	margin-right: 50px;
}

.nav-link {
	color: var(--title-text-color);

	text-decoration: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	position: relative;
}

.nav-site .nav-link.current {
	color: var(--accent-color);
}

.nav-link::after {
	content: "";
	display: block;
	width: 100%;

	height: 4px;
	background-color: var(--accent-color);
	border-radius: 2px;
	position: absolute;
	margin-top: 30px;
	opacity: 0;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}

.nav-link:hover::after,
.nav-link:focus::after {
	opacity: 1;
}

.nav-link.current::after {
	opacity: 1;
}

.nav-cont {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
}

.cont {
	display: flex;
	align-items: center;
}

.cont-item:not(:last-child) {
	margin-right: 50px;
}

.cont-list-svg {
	margin-right: 10px;
	fill: var(--primary-text-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-info {
	color: var(--primary-text-color);

	display: flex;
	justify-content: center;
	align-items: center;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-info:not(:last-child) {
	margin-right: 50px;
}

.cont-info:hover,
.cont-info:focus {
	color: var(--accent-color);
}

.cont-info:hover .cont-list-svg,
.cont-info:focus .cont-list-svg {
	fill: var(--accent-color);
}
/*============Footer============*/

.page-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page-footer-logo {
	margin-right: 70px;
}

.page-footer-cont {
	margin-right: 93px;
}

.footer {
	background-color: var(--background-footer);
	max-width: 1600px;
	height: 252px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 60px;
}

.logo-second-part {
	color: var(--primary-white-color);

	font-family: Raleway;
	font-weight: 700;
	line-height: 1.2;

	margin-top: 0;
	margin-bottom: 20px;
}

.address-footer {
	margin-top: 20px;
}

.address {
	color: var(--primary-white-color);

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;

	text-decoration: none;
}

.footer-list {
	display: flex;
	flex-direction: column;
}

.footer-list-item:not(:last-child) {
	margin-bottom: 9px;
}

.info-footer {
	color: var(--info-footer-color);

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;

	text-decoration: none;
}

.footer-title {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	margin-bottom: 20px;

	color: var(--primary-white-color);
}

.footer-list-cont {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.footer-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
	background-color: var(--accent-color);
}

.footer-list-svg {
	width: 20px;
	height: 20px;
	fill: var(--primary-white-color);
}

.footer-cont-item {
	margin-right: 10px;
}

.form-title {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1, 33;
	text-transform: uppercase;

	margin-bottom: 20px;

	color: var(--primary-white-color);
}

.footer-form {
	display: flex;
}

.footer-form-input {
	color: var(--primary-white-color);
	width: 358px;
	height: 50px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	background-color: transparent;

	margin-right: 12px;
	padding: 16px 15px;
}

.footer-form-input:hover {
	border-color: var(--accent-color);
}

.footer-form-input:focus {
	outline: none;
	border-color: var(--accent-color);
}

.footer-form-button {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;

	border: none;
	border-radius: 4px;
}

.footer-form-svg {
	fill: var(--primary-white-color);
	margin-left: 10px;
}

.footer-form-input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:not(:placeholder-shown) {
	border-color: var(--accent-color);
}
