:root {
	--main-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--primary-white-color: #ffffff;
	--blue-color: #2196f3;
	--info-footer-color: rgba(255, 255, 255, 0.6);
	--background-footer: #2f303a;
	--border-color: #eeeeee;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: var(--main-font);
	letter-spacing: 0.03em;
}

img {
	display: block;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
}
