/*
основной черный          #212121
акцент   синий           #2196F3
основной серый           #757575
белый                    #FFFFFF
email & tel footer       rgba(255, 255, 255, 0.6)
основной background      #FFFFFF
вторичный т background   #2F303A
вторичный св background  #F5F4FA
*/

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*============Offers============*/

.section-main {
	background-color: var(--background-footer);
	text-align: center;

	width: 1600px;
	height: 600px;
	margin: 0 auto;
	margin-bottom: 94px;
}

.section-title-main {
	color: var(--primary-white-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	width: 696px;

	margin-top: 0;
	margin-bottom: 30px;
	padding-top: 200px;
	margin-left: 452px;
	margin-right: 452px;
}
/*============Qualities============*/

.qualities-list .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	margin-top: 0;
	margin-bottom: 10px;
}

.qualities-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	margin-bottom: 94px;
}

.qualities-list-item:not(:last-child) {
	margin-right: 30px;
}

.qualities-list-item {
	/*max-width: 270px;*/
	width: 270px;
}

.title-info {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;

	margin-top: 0;
}

.section-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;

	margin-top: 0;
	margin-bottom: 50px;
}

/*============Work with============*/

.work {
	display: flex;
}

.work-item:not(:last-child) {
	margin-right: 30px;
}

/*.work-item {
  margin-bottom: 94px;
}*/

/*============Our team============*/

.team .title {
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
}

.team {
	display: flex;
}

.team-item:not(:last-child) {
	margin-right: 30px;
}
.team img {
	margin-bottom: 30px;
}

.team-position {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;

	margin-top: 0;
	margin-bottom: 30px;
}

.section.padding {
	padding-top: 94px;
	padding-bottom: 94px;
}

/*============Button============*/

.button {
	color: var(--title-text-color);
	background-color: var(--secondary-bg-color);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	display: inline-block;
	border: none;
	border-radius: 4px;
}

.button:hover,
.button:active {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}

.primary-button {
	color: var(--primary-white-color);
	background-color: var(--accent-color);

	padding: 10px 32px;
	min-width: 200px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	letter-spacing: 0.06em;

	text-decoration: none;

	margin-bottom: 200px;
}

.primary-button:hover,
.primary-button:active {
	color: var(--accent-color);
	background-color: var(--primary-white-color);
}

.secondary-button {
	display: inline-block;
	padding: 6px 22px;
}

/*============Main menu============*/
.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 50px;
}

.menu-item:not(:last-child) {
	margin-right: 9px;
}

/*============Projects============*/

.projects-item .title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 4px;
}

.type {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;

	margin-left: 24px;
	margin-right: 24px;
	margin-top: 0;
	margin-bottom: 20px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.projects-item {
	margin-bottom: 30px;
}
.projects-item:not(:nth-child(3n)) {
	margin-right: 30px;
}

.projects-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
.projects-item img {
	margin-bottom: 20px;
}
