/*
основной черный          #212121
акцент   синий           #2196F3
основной серый           #757575
белый                    #FFFFFF
email & tel footer       rgba(255, 255, 255, 0.6)
основной background      #FFFFFF
вторичный т background   #2F303A
вторичный св background  #F5F4FA
*/

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*============Offers============*/

.section-main {
	text-align: center;

	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin: 0 auto;

	background-color: #c4c4c4;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.section-title-main {
	color: var(--primary-white-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	max-width: 696px;

	margin: 0 auto 30px;

	margin-top: 0;
	margin-bottom: 30px;
}

.backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 528px;
	height: 581px;

	background-color: var(--primary-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

/*============Qualities============*/

.section-qualities {
	padding-top: 94px;
	padding-bottom: 94px;
}

.qualities-list .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	margin-top: 0;
	margin-bottom: 10px;
}

.qualities-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.qualities-list-item::before {
	display: block;
	content: "";
	height: 120px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--secondary-bg-color);
	margin-bottom: 30px;
}

.icon-antenna::before {
	background-image: url(../img/svg/antenna.svg);
}

.icon-clock::before {
	background-image: url(../img/svg/clock.svg);
}

.icon-diagram::before {
	background-image: url(../img/svg/diagram.svg);
}

.icon-astronaut::before {
	background-image: url(../img/svg/astronaut.svg);
}

.qualities-list-item:not(:last-child) {
	margin-right: 30px;
}

.qualities-list-item {
	max-width: 270px;
}

.title-info {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;

	margin-top: 0;
}

.section-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;

	margin-top: 0;
	margin-bottom: 50px;
}

/*============Work with============*/

.work {
	display: flex;
}

.work-item:not(:nth-child(3n)) {
	margin-right: 30px;
}

.work-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.work-item-position {
	display: flex;
}

.work-section {
	padding-bottom: 94px;
}

.work-position {
	background: rgba(47, 48, 58, 0.8);
	width: 100%;
	position: absolute;
	display: flex;
}

.work-information {
	color: var(--primary-white-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	margin: 27px auto;

	text-transform: uppercase;
}

/*============Our team============*/

.team .title {
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
}

.team {
	display: flex;
}

.team-item {
	background-color: var(--primary-white-color);

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
	margin-right: 30px;
}

.team-position {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;

	margin-top: 0;
	margin-bottom: 16px;
}

.social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.social-list-item:not(:last-child) {
	margin-right: 10px;
}
.social-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 44px;
	height: 44px;
	background-color: var(--primary-white-color);
	border-radius: 50%;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
	background-color: var(--accent-color);
}

.social-list-svg {
	width: 20px;
	height: 20px;
	fill: #afb1b8;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-svg {
	fill: var(--primary-white-color);
}

.section.padding {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: var(--secondary-bg-color);
	margin: auto;
	padding-bottom: 94px;
}

/*============Our clients============*/

.section-clients {
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients-team {
	display: flex;
}

.clients-team-item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	box-sizing: border-box;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-team-item:hover {
	border: 1px solid #2196f3;
}

.clients-team-item:not(:last-child) {
	margin-right: 30px;
}

.clients-list-svg {
	fill: #afb1b8;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-team-item:hover .clients-list-svg {
	fill: #2196f3;
}

/*============Button============*/

.button {
	color: var(--title-text-color);
	background-color: var(--secondary-bg-color);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	display: inline-block;
	border: none;
	border-radius: 4px;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:active {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}

.primary-button {
	color: var(--primary-white-color);
	background-color: var(--accent-color);

	padding: 10px 32px;
	min-width: 200px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	letter-spacing: 0.06em;

	text-decoration: none;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover,
.primary-button:active {
	color: var(--accent-color);
	background-color: var(--primary-white-color);
}

.secondary-button {
	display: inline-block;
	padding: 6px 22px;
}

/*============Main menu============*/

.section-projects {
	padding-bottom: 94px;
	padding-top: 94px;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 50px;
}

.menu-item:not(:last-child) {
	margin-right: 9px;
}

/*============Projects============*/

.projects-item .title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 4px;
}

.type {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;

	text-decoration: none;

	margin-left: 24px;
	margin-right: 24px;
	margin-top: 0;
	margin-bottom: 20px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.projects-item {
	width: calc((100% - 60px) / 3);
	display: flex;
	margin-bottom: 30px;
}
.projects-item:not(:nth-child(3n)) {
	margin-right: 30px;
}

.projects-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.projects-item-link:hover {
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.projects-item-link {
	color: var(--primary-text-color);
	text-decoration: none;
}

.projects-description {
	border: 1px solid var(--border-color);
}

.projects-information {
	color: var(--primary-white-color);

	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	margin: 63px 24px;
}

.projects-overlay {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	overflow: hidden;
}

.projects-position {
	width: 100%;
	top: 370px;
	left: 0px;
	position: absolute;
	display: flex;
	background-color: rgba(33, 150, 243, 0.9);
	opacity: 0;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item-link:hover .projects-position {
	opacity: 1;

	transform: translateY(-370px);
}
