:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #f5f4fa;
	--primary-white-color: #ffffff;
	--blue-color: #2196f3;
	--info-footer-color: rgba(255, 255, 255, 0.6);
	--background-footer: #2f303a;
	--border-color: #eeeeee;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

img {
	display: block;
}

.container {
	margin: 0 auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	/*clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;*/
	height: 16px;
	width: 16px;
	opacity: 0;
}

/*=================Header=================*/

.header {
	padding-top: 24px;
	padding-bottom: 25px;
	border-bottom: 1px solid var(--border-color);
}

.navigation {
	display: flex;
}

.navigation__logo {
	color: var(--title-text-color);

	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;

	margin-right: 93px;
}

.navigation__logo-part {
	color: var(--blue-color);
}

.navigation__list {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	display: flex;
	align-items: center;
}

.navigation__list-item:not(:last-child) {
	margin-right: 50px;
}

.navigation__list-link {
	color: var(--title-text-color);

	text-decoration: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	position: relative;
}

.navigation__list .navigation__list-link.current {
	color: var(--accent-color);
}

.navigation__list-link::after {
	content: "";
	display: block;
	width: 100%;

	height: 4px;
	background-color: var(--accent-color);
	border-radius: 2px;
	position: absolute;
	margin-top: 30px;
	opacity: 0;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__list-link:hover,
.navigation__list-link:focus {
	color: var(--accent-color);
}

.navigation__list-link:hover::after,
.navigation__list-link:focus::after {
	opacity: 1;
}

.navigation__list-link.current::after {
	opacity: 1;
}

.address {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
}

.address__list {
	display: flex;
	align-items: center;
}

.address__list-item:not(:last-child) {
	margin-right: 50px;
}

.address__list-svg {
	margin-right: 10px;
	fill: var(--primary-text-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list-info {
	color: var(--primary-text-color);

	display: flex;
	justify-content: center;
	align-items: center;

	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list-info:not(:last-child) {
	margin-right: 50px;
}

.address__list-info:hover,
.address__list-info:focus {
	color: var(--accent-color);
}

.address__list-info:hover .address__list-svg,
.address__list-info:focus .address__list-svg {
	fill: var(--accent-color);
}

/*=================Offers=================*/

.hero {
	text-align: center;

	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin: 0 auto;

	background-color: #c4c4c4;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__title {
	color: var(--primary-white-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	max-width: 696px;

	margin: 0 auto 30px;

	margin-top: 0;
	margin-bottom: 30px;
}

.hero__button {
	color: var(--primary-white-color);
	background-color: var(--accent-color);

	min-width: 200px;
	padding: 10px 32px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	align-items: center;
	letter-spacing: 0.06em;

	border: none;
	border-radius: 4px;

	cursor: pointer;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
	color: var(--accent-color);
	background-color: var(--primary-white-color);
}

/*=================Qualities=================*/

.section__qualities {
	padding-top: 94px;
	padding-bottom: 94px;
}

.qualities__list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.qualities__list-item {
	max-width: calc(100%-30px * 3) / 4;
	/*max-width:270px;*/
}

.qualities__list-item:not(:last-child) {
	margin-right: 30px;
}

.qualities__list-item::before {
	display: block;
	content: "";
	height: 120px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--secondary-bg-color);
	margin-bottom: 30px;
}

.qualities__list-icon-antenna::before {
	background-image: url(../img/svg/antenna.svg);
}

.qualities__list-icon-clock::before {
	background-image: url(../img/svg/clock.svg);
}

.qualities__list-icon-diagram::before {
	background-image: url(../img/svg/diagram.svg);
}

.qualities__list-icon-astronaut::before {
	background-image: url(../img/svg/astronaut.svg);
}

.qualities__list-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;

	text-transform: uppercase;

	margin-top: 0;
	margin-bottom: 10px;
}

.qualities__list-description {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;

	margin-top: 0;
}

/*=================Work with=================*/

.section__work {
	padding-bottom: 94px;
}

.work__title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;

	margin-top: 0;
	margin-bottom: 50px;
}

.work__list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.work__list-item {
	display: flex;
	justify-content: center;
	align-items: flex-end;

	max-width: calc(100%-30px * 2) / 3;

	position: relative;
}

.work__list-item:not(:nth-child(3n)) {
	margin-right: 30px;
}

.work__list-position {
	background: rgba(47, 48, 58, 0.8);
	width: 100%;

	display: flex;

	position: absolute;
}

.work__list-position-title {
	color: var(--primary-white-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;

	margin: 27px auto;

	text-transform: uppercase;
}

/*=================Our team=================*/
.section__team {
	background-color: var(--secondary-bg-color);
	/*max-width: 1600px;*/
	padding-top: 94px;
	padding-bottom: 94px;

	/*margin: auto;*/
}

.team__title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;

	margin-top: 0;
	margin-bottom: 50px;
}

.team__list {
	display: flex;
}

.team__list-item {
	background-color: var(--primary-white-color);

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team__list-item:not(:last-child) {
	margin-right: 30px;
}

.team__list-item-name {
	color: var(--title-text-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
}

.team__list-item-position {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;

	margin-top: 0;
	margin-bottom: 16px;
}

.team__social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.team__social-list-item:not(:last-child) {
	margin-right: 10px;
}

.team__social-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 44px;
	height: 44px;
	background-color: var(--primary-white-color);
	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-list-link:hover,
.team__social-list-link:focus {
	background-color: var(--accent-color);
}

.social__list-svg {
	width: 20px;
	height: 20px;
	fill: #afb1b8;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-list-link:hover .social__list-svg,
.team__social-list-link:focus .social__list-svg {
	fill: var(--primary-white-color);
}

/*============Our clients============*/

.section__clients {
	padding-top: 94px;
	padding-bottom: 94px;
}

.client__title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;

	margin-top: 0;
	margin-bottom: 50px;
}

.clients__list {
	display: flex;
}

.clients__list-item {
	display: flex;
	justify-content: center;
	align-items: center;
	/*text-decoration: none;*/
	/*width: calc(100%-30px * 5) / 6;*/
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list-item:hover,
.clients-team-item:focus {
	border: 1px solid #2196f3;
}

.clients__list-item:not(:last-child) {
	margin-right: 30px;
}

.clients__list-svg {
	fill: #afb1b8;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list-item:hover .clients__list-svg/*,
.clients-team-item:focus .clients-list-svg*/ {
	fill: #2196f3;
}

/*============Footer============*/

.section__footer {
	background-color: var(--background-footer);
	/*max-width: 1600px;*/
	/*height: 252px;*/
	/*margin: 0 auto;*/
	padding-top: 60px;
	padding-bottom: 60px;
}

.contact {
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
}

.contact__logo {
	margin-right: 70px;
}

.contact__logo-link {
	color: var(--title-text-color);

	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}

.contact__logo-part {
	color: var(--blue-color);
}

.contact__logo-second-part {
	color: var(--primary-white-color);

	font-family: Raleway;
	font-weight: 700;
	line-height: 1.2;

	margin-top: 0;
	margin-bottom: 20px;
}
.contact__address {
	margin-top: 20px;
}

.contact__address-list {
	display: flex;
	flex-direction: column;
}

.contact__address-list-item :not(:last-child) {
	margin-bottom: 9px;
}

.contact__address-list-link {
	color: var(--primary-white-color);

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
}
.contact__address-list-info {
	color: var(--info-footer-color);

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
}

.contact__social {
	margin-right: 93px;
}

.contact__social-title {
	color: var(--primary-white-color);

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	margin-bottom: 20px;
}

.contact__social-list {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.contact__social-list-item {
	margin-right: 10px;
}

.contact__social-list-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__social-list-link:hover,
.contact__social-list-link:focus {
	background-color: var(--accent-color);
}

.contact__social-svg {
	width: 20px;
	height: 20px;
	fill: var(--primary-white-color);
}

/*============Form============*/

.form__title {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1, 33;
	text-transform: uppercase;

	margin-bottom: 20px;

	color: var(--primary-white-color);
}

.footer__form {
	display: flex;
}

.footer__form-input {
	color: var(--primary-white-color);
	width: 358px;
	height: 50px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	background-color: transparent;

	margin-right: 12px;
	padding: 16px 15px;
}

.footer__form-input:hover {
	border-color: var(--accent-color);
}

.footer__form-input:focus {
	outline: none;
	border-color: var(--accent-color);
}

.footer__form-input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: rgba(255, 255, 255, 0.6);
}

.footer__form-input:not(:placeholder-shown) {
	border-color: var(--accent-color);
}

.footer__form-button {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;

	border: none;
	border-radius: 4px;
}

.footer__form-svg {
	fill: var(--primary-white-color);
	margin-left: 10px;
}

/*============Modal============*/

.backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 528px;
	height: 581px;

	background-color: var(--primary-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 0 40px;
}

.modal__close-button {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover,
.modal__close-button:focus {
	fill: var(--accent-color);
	outline: none;
}

.modal__close-svg {
	width: 11px;
	height: 11px;
	fill: var(--title-text-coloror);
}

.modal__form {
	display: flex;
	flex-direction: column;
}

.modal__form-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.15;
	color: var(--title-text-color);
	margin-top: 40px;
	margin-bottom: 12px;
}

.modal__form-contact {
	position: relative;
	margin-top: 16px;
	margin-bottom: 10px;
}

.modal__form-lable {
	position: absolute;
	top: -18px;
	left: 0;
}

.modal__form-input {
	width: 100%;
	height: 40px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	padding-left: 42px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:hover,
.modal__form-input:focus {
	border-color: var(--accent-color);
}

.modal__form-svg {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	fill: var(--title-text-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus + .modal__form-svg,
.modal__form-input:hover + .modal__form-svg {
	fill: var(--accent-color);
}

.modal__form-message {
	width: 100%;
	height: 120px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;

	padding: 12px 16px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.67;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.modal__form-message::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.moda__form-input:focus,
.modal__form-message:focus {
	outline: none;
}

.modal__form-message:hover,
.modal__form-message:focus {
	border-color: var(--accent-color);
}

.modal__checkbox {
	margin-top: 20px;
	text-align: center;
}

.modal__form-lable,
.form__lable-message,
.form__lable-checkbox {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.67;
	letter-spacing: 0.01em;

	color: var(--primary-text-color);
}

.modal__form-checkbox:focus + .modal__form-checkbox-icon {
	outline: var(--title-text-color);
}

.modal__form-checkbox:hover + .modal__form-checkbox-icon {
	border: 2px solid var(--accent-color);
}

.modal__form-checkbox:checked + .modal__form-checkbox-icon {
	background-image: url("../img/svg/check.svg");
	background-size: contain;
	border: 4px solid var(--accent-color);
	background-origin: border-box;
	background-size: 16px 15px;
	border: 0px;
}

.modal__form-checkbox-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 2px solid var(--title-text-color);
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__lable-checkbox {
	display: inline-block;
}

.form__checkbox-text,
.form__checkbox-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

.form__checkbox-text {
	color: var(--primary-text-color);
}

.form__checkbox-link {
	color: var(--accent-color);
}

.modal__form-submit {
	display: block;
	color: var(--primary-white-color);
	background-color: var(--accent-color);

	/*max-width: 200px;
	height: 50px;*/
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 10px 55px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;

	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-submit:hover,
.modal__form-submit:focus {
	background: #188ce8;
}

/*============Main menu============*/

.section__projects {
	padding-bottom: 94px;
	padding-top: 94px;
}

.projects__menu-list {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 50px;
}

.projects__menu-item:not(:last-child) {
	margin-right: 9px;
}

.projects__menu-button {
	display: inline-block;
	padding: 6px 22px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}

.projects__menu-button:hover,
.projects__menu-button:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*============Projects============*/

.projects__list {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.projects__list-item {
	width: calc((100% - 60px) / 3);
	display: flex;
	margin-bottom: 30px;
}

.projects__list-item:not(:nth-child(3n)) {
	margin-right: 30px;
}

.projects__list-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.projects__list-link:hover,
.projects__list-link:focus {
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.projects__list-link {
	color: var(--primary-text-color);
	text-decoration: none;
}

.projects__description {
	border: 1px solid var(--border-color);
}

.projects__description .title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 4px;
}

.projects__description .type {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;

	text-decoration: none;

	margin-left: 24px;
	margin-right: 24px;
	margin-top: 0;
	margin-bottom: 20px;
}

.projects__overlay {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	overflow: hidden;
}

.projects__information {
	width: 100%;
	top: 294px;
	left: 0px;
	position: absolute;
	display: flex;
	background-color: rgba(33, 150, 243, 0.9);
	opacity: 0;

	transform: translateY(0);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__information-description {
	color: var(--primary-white-color);

	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;
	margin: 63px 24px;
}

.projects__list-link:hover .projects__information,
.projects__list-link:focus .projects__information {
	opacity: 1;

	transform: translateY(-100%);
}
