.navigation__button {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	@media (min-width: 768px) {
		display: none;
	}

	&-menu,
	&-close {
		fill: #afb1b8;

		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:focus {
		outline: none;
		border: none;
	}

	&:focus .navigation__button-close,
	&:focus .navigation__button-menu {
		fill: $accent-color;
	}

	& .navigation__button-close {
		display: none;
		@media (min-width: 768px) {
			display: none;
		}
	}
}

.navigation__button.is-open .navigation__button-close {
	display: block;
	@media (min-width: 768px) {
		display: none;
	}
}

.navigation__button.is-open .navigation__button-menu {
	display: none;
	@media (min-width: 768px) {
		display: none;
	}
}
