.projects {
	&__description {
		border: 1px solid $border-color;

		& .title {
			color: $title-text-color;

			font-weight: 700;
			font-size: 18px;
			line-height: 2;
			letter-spacing: 0.06em;

			margin-left: 24px;
			margin-right: 24px;
			margin-bottom: 4px;
		}

		& .type {
			color: $primary-text-color;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.9;

			text-decoration: none;

			margin-left: 24px;
			margin-right: 24px;
			margin-top: 0;
			margin-bottom: 20px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-content: space-around;

		&-item {
			width: calc((100% - 60px) / 3);
			display: flex;
			margin-bottom: 30px;

			&:not(:nth-child(3n)) {
				margin-right: 30px;
			}

			&:nth-last-child(-n + 3) {
				margin-bottom: 0;
			}
		}

		&-link {
			color: $primary-text-color;
			text-decoration: none;

			&:hover,
			&:focus {
				box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
			}

			&:hover .projects__information,
			&:focus .projects__information {
				opacity: 1;

				transform: translateY(-100%);
			}
		}
	}

	&__overlay {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;

		overflow: hidden;
	}

	&__information {
		width: 100%;
		top: 294px;
		left: 0px;
		position: absolute;
		display: flex;
		background-color: rgba(33, 150, 243, 0.9);
		opacity: 0;

		transform: translateY(0);
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&-description {
			color: $primary-white-color;

			font-weight: 400;
			font-size: 18px;
			line-height: 1.56;
			margin: 63px 24px;
		}
	}
}
