.qualities__list {
	@media (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}

	@media (min-width: 1200px) {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	&-item {
		margin: 0 auto; ///questionable????

		@media (min-width: 768px) {
			max-width: 354px;
			&:not(:nth-last-child(-n + 2)) {
				margin-bottom: 30px;
			}
		}
		@media (min-width: 768px) and (max-width: 1199px) {
			&:nth-last-child(even) {
				margin-right: 30px;
			}
		}
		@media (min-width: 1200px) {
			max-width: 270px;
		}
		&:not(:last-child) {
			margin-bottom: 30px;

			@media (min-width: 768px) {
				margin-bottom: 0px;
			}
			@media (min-width: 1200px) {
				margin-right: 30px;
			}
		}

		&::before {
			display: block;
			content: "";
			height: 120px;
			background-repeat: no-repeat;
			background-position: center;
			background-color: $secondary-bg-color;
			margin-bottom: 30px;
		}
	}

	&-icon-antenna::before {
		background-image: url(../img/svg/antenna.svg);
	}

	&-icon-clock::before {
		background-image: url(../img/svg/clock.svg);
	}

	&-icon-diagram::before {
		background-image: url(../img/svg/diagram.svg);
	}

	&-icon-astronaut::before {
		background-image: url(../img/svg/astronaut.svg);
	}

	&-title {
		color: $title-text-color;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;

		text-transform: uppercase;
		text-align: center;

		margin-top: 30px;
		margin-bottom: 10px;

		@media (min-width: 1200px) {
			margin-top: 0;
			//margin-bottom: 10px;
		}
	}

	&-description {
		color: var(--primary-text-color);
		font-weight: 400;
		font-size: 14px;
		line-height: 1.7;

		margin-top: 0;
	}
}
