.work {
	&__title {
		color: $title-text-color;

		font-weight: 700;
		font-size: 36px;
		line-height: 1.2;
		text-align: center;

		margin-top: 0;
		margin-bottom: 50px;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		&-item {
			display: flex;
			justify-content: center;
			align-items: flex-end;

			max-width: calc(100%-30px * 2) / 3;

			position: relative;

			&:not(:nth-child(3n)) {
				margin-right: 30px;
			}
		}

		&-position {
			background: rgba(47, 48, 58, 0.8);
			width: 100%;

			display: flex;

			position: absolute;

			&-title {
				color: $primary-white-color;
				font-weight: 700;
				font-size: 14px;
				line-height: 1.14;

				margin: 27px auto;

				text-transform: uppercase;
			}
		}
	}
}
