* {
	box-sizing: border-box;
}

body {
	background-color: $primary-bg-color;
	color: $primary-text-color;
	font-family: $main-font;
	letter-spacing: 0.03em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	/*clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;*/
	height: 16px;
	width: 16px;
	opacity: 0;
}
